# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Neogenezis.iml
# Datasource local storage ignored files
/../../../../../../:\UnityGames\Neogenezis\.idea\.idea.Neogenezis\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
